.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.input__newContact {
  background-color: transparent;
  outline: none;
  font-size: 1.1rem;
  appearance: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid gray;
  width: 80%;
  height: 30px;
}

.buttom__addNewContact {
  width: 30px;
  height: 30px;
}