.container__type {
  position: relative;
  right: 5px;
}

.container__type1 {
  position: relative;
  top: -20px;
  right: -5px;
}

.container__type0 {
  position: relative;
  top: 35px;
  right: -20px;
}